/* Css do texto Endomarketing, do select e o botão Criar */

.endomarketingGeral {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
}

.endomarketing {
    width: 78%;
    font-family: 'Open Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.selectPosition{
    align-items:flex-end;

}
.select{
    margin: 2px;
    height: 38px;
}

/*/////////////////////////*/

/* Css dos icones do widget*/
.icons {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
}

.buttonDispensar {

    height: 38px;
    width: 113px;
    margin-top: 5%;
    background: rgba(53, 44, 44, 0);
}